.container {
  background-color: #ffffff;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  color: rgb(103, 183, 183);
  text-align: left;
  text-shadow: 0.2px 0.2px 0.5px #000000;
  text-decoration: overline;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 10px;
}

.tittle-below {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: left;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-top: 2px;
  margin-left: 140px;
}
